@model IEnumerable<TestAppForFlycode.Models.Post>
@{
    ViewData["Title"] = "Список ";
   // Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Страничка постов</title>
</head>
<body>

    <p></p>
    <a href="~/Home/Create" class=btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
  
    <p></p>

    <form asp-controller="Home" asp-action="Index">
    </form>
    <form class="col s6">
        <div class="row">

        </div>
    </form>


    <div class="chips chips-autocomplete">

        <div class="chip">

            Новости
            <i class="close material-icons">close</i>
        </div>
        <div class="chip">

            Погода
            <i class="close material-icons">close</i>
        </div>
        <div class="chip">

            Реклама
            <i class="close material-icons">close</i>
        </div>


    </div>


    <h5>Стена</h5>
    <table>
        <tr class="responsive-table">
            <td>Загаловок</td>
            <td>Описание</td>
            <td>Дата создания</td>
            <td>Изображение</td>

        </tr>
        @foreach (var post in Model)
        {
            <tr>

                <td>@post.Heading</td>
                <td>@post.Description</td>
                <td>@post.DateOfCreation</td>
                <td>@post.ImageFile <img src="@("~/image/" + post.ImageTitle)" asp-append-version="true" width="150" height="150" /> </td>

                <td><a asp-action="Edit" asp-controller="Home" asp-route-id="@post.PostId"><i class="material-icons">create</i></a></td>
                <td><a asp-action="Delete" asp-controller="Home" asp-route-id="@post.PostId"><i class="material-icons">delete</i></a></td>

            </tr>


        }

    </table>
</body>
</html>